{% extends "base.html" %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url({{ url_for('static', filename='images/banner.jpg') }})">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Recipes</h1>
                            <span class="subheading"><i>brought to you by api.ethanshealey.com/recipes</i></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 inf-scroll-cnt">
                    {% for recipe in data %}
                    <div id="recipe_{{ loop.index }}">
                    <!-- Post preview-->
                        <div class="post-preview">
                            <a href="{{ url_for('recipe', item=recipe['name'], id=recipe['id']) }}">
                                <h2 class="post-title">{{ recipe['name'] }}</h2>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Admin</a>
                                on {{ recipe['date_modified'] }}
                            </p>
                        </div>
                        {% if not loop.last %}
                            <!-- Divider-->
                            <hr class="my-4" />
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="d-flex justify-content-end mb-4" id="show_all"><a class="btn btn-primary text-uppercase" href="#">All Recipes →</a></div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(() => {
                const children = $(".inf-scroll-cnt").children()
                for(let i = 0; i < children.length; i++) {
                    let id = children[i].id.split('_')[1]
                    if(id > 5) {
                        $(`#recipe_${id}`).hide()
                    }
                }
                $("#show_all").on('click', ($e) => {
                    $e.preventDefault()
                    $("#show_all").remove()
                    const children = $(".inf-scroll-cnt").children()
                    for(let i = 0; i < children.length; i++) {
                        let id = children[i].id.split('_')[1]
                        if(id > 5) {
                            $(`#recipe_${id}`).show()
                        }
                    }
                })
            })
        </script>
{% endblock %}
